doctype html
html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
		link(rel="stylesheet" href="css/list.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
		title OSWGuilds
	body
		main
			header.header
				h1.logo
					img(src="img/OSWGuilds-logo-blanco.svg" alt="Open Source Weekends Guilds")
					span OSWGuilds
				nav
					ul
						each guild, index in guilds
							li 
								a(href="#guild-"+guild._id)
									if guild.flag
										img.logo-guild(alt=guild.name+" logo" src='img/flags/'+guild.flag)
									else
										div.logo-guild(title=guild.name + " logo")


			each guild, index in guilds
				section.guild(id="guild-"+guild._id)
					header
						h1
							if guild.flag
								img.logo-guild(src="img/flags/"+guild.flag alt=guild.name + " logo")
							else
								div.logo-guild(title=guild.name + " logo")
							span= guild.name

						div.intro
							p=guild.motto

							if guild.readme
								p + Info en: 
									a(href=guild.readme) Readme

						if !inGuilders(guild.guilders)
							div.cta
								a(href="/api/guilds/"+ guild._id +"/join" class='join') Quiero participar, me lío!!!
					
					h2 Proyectos
					table.table.projects
						thead
							th(scope="col") Proyecto
							th(scope="col") Repo						
							th(scope="col") Stack
							th(scope="col") Estado						
							th(scope="col") Se busca...
						tbody
							if guild.projects
								each project, index in guild.projects
									tr
										td=project.name
										td
											a(href=project.repo) link
										td 
											if project.stack
												ul
													each tech, index in project.stack
														li(class="tech-" + tech)=tech
										td(class="status-" + project.status)=project.status				
										td
											if project.wanted
												ul
													each profile, index in project.wanted
														li=profile
					h2 Guilders
					div.guilders
						ul
							if guild.guilders
								each guilder, index in guild.guilders
									- const user = users(guilder._id);
									if user
										- const profile = user.githubProfile;
										li
											img.photo-guilder(src=profile.photos[0].value alt= profile.displayName + " photo.")
											a(href=profile.profileUrl)=profile.displayName
											
		




		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")