<img src="<%= data.avatar_url %>">
<p>ID: <%= data.id %></p>
<p>Username: <%= data.login %></p>
<p>Name: <%= data.name %></p>
<p>Bio: <%= data.bio %></p>
<p>Hireable: <%= data.hireable %></p>
<p>location: <%= data.location %></p>
<pre><code><%= JSON.stringify(data, null, 10) %></code></pre>
